$headerCol: #fd9a29;
$h1Font: 4vh;
$h2Font: 2vh;
$h2FontCol: #094223e0;
$fontFam: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
  Arial, sans-serif;
$smallest: 200px;

.section2 {
  margin: 0 2rem 4rem 2rem;
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 2rem;

  h1 {
    font-family: $fontFam;
    font-size: $h1Font;
    color: $headerCol;
  }
}

  .bigCard {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 2rem;

    .card {
      display: flex;
      justify-content: center;
      // column-gap: 2rem;
        column-gap: 1rem;
        width: 500px;

      .cardContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;

        h2 {
            font-size: $h2Font;
            color: $h2FontCol;
        }

        p {
            font-style: italic;
        }
      }
    }
  }

.imgContainer{
  overflow: hidden;
  width: 400px;
  height: $smallest;
  border: 10px solid $h2FontCol;
  border-radius: 50%;
}

.dogs {
  width: 105%;
  height: 105%;
  transition: .5s ease;
}

.dogs:hover {
transform: scale(1.15);
}