.heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
  background-color: #094223e0;
  background-image: linear-gradient(to left, #084725, #0000008e);
    

  .svg {
    width: 45px;
    cursor: pointer;
  }
}
