* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  width: 50rem;
  height: 50rem;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  background-color: rgba(0, 0, 0, 0.822);
  height: 30rem;
  width: 50rem;

  #buttonContainer {
    display: flex;
    column-gap: 1rem;
  }

  .buttons {
    padding: 0.7rem; 
    border: 1px solid black;
    color: white;
    border-radius: 40px;
    width: 10rem;
    cursor: pointer;
  }
}

.button2 {
  background-color: rgba(255, 0, 0, 0.521);
}

.button1 {
  background-color: rgba(0, 128, 0, 0.5);
}
.button3 {
  background-color: rgb(62, 62, 255);
}

.warning {
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  height: 12rem;
  width: 30rem;
  background-color: rgba(255, 0, 0, 0.199);
  border: 1px solid red;
  border-radius: 2rem;
  color: wheat;
  margin-bottom: 4rem;
  transition: all .4s ease ;
}
