* {
  margin: 0;
  padding: 0;
  
}

#root {
  display: flex;
  width: auto;
  height: 56.96rem;
}

aside {
  width: 30%;
  height: 100%;
  background: url('./img/bg-main-desktop.png');
  background-size: cover;
  position: relative;
  
}

#rightSide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  
}

.card1, .card2 {
  display: flex;
  flex-direction: column;
  width: 27rem;
  height: 14rem;
  padding: 1.5rem;
  position: absolute;
  border: 1px solid #00000057;
  border-radius: 1.6rem;
  color: #FFF;

}

.card1 {
  row-gap: 2rem;
  background: url('./img/bg-card-front.png');
  background-size: cover;
  top: 20%;
  left: 40%;

}

.card2 {
  background: url('./img/bg-card-back.png');
  background-size: cover;
  top: 60%;
  left: 55%;
  position: relative;
}

.circleContainer {
  display: flex;
  align-items: center;
  /* margin-bottom: 3rem; */
  column-gap: .5rem;
}

#filledCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}

#emptyCricle {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-radius: 50%;
}

.cardNumber {
  font-size: xx-large;
  letter-spacing: .3rem;
  align-self: center;
}

.row {
  display: flex;
}

.nameExpDate {
  width: 100%;
  justify-content: space-between;
  font-size: large;
}

.cvc {
  position: absolute;
  right: 13%;
  bottom: 47%;
}