* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
}

#section {
    background-image: url(./assets/images/prvePlanine.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 8rem;
}