.button {
    width: max-content;
    background-color: #FFF;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 20px;
  }

  .submit{
    width: 90px;
    height: 45px;
    background-color: #005727c4;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 1rem;
  }

  .reset {
    width: 90px;
    height: 45px;
    background-color: #db7d7dde;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 1rem;
  }

  .button, .reset, .submit:hover {
    cursor: pointer;
  }